{% extends "transaction/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Add Item</h4>
</div>
<ul class="list-group list-group-flush">
<form id="add-item-form" action="" method="post">
  <li class="list-group-item">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Type</label>
          <input type="text" class="form-control form-control-sm" required id="type">
        </div>
        <div class="form-group col-md-2">
          <label for="">Size</label>
          <input type="text" class="form-control form-control-sm" required id="size">
        </div>
        <div class="form-group col-md-3">
          <label for="">Product Description</label>
          <textarea name="name" rows="" class="form-control form-control-sm" required cols="25" id="item_description" style="height:30px; width:275px;"></textarea>
        </div>
        <span style="width:50px;"></span>
        <div class="form-group col-md-2">
          <label for="">Unit</label>
          <input type="text" class="form-control form-control-sm" required id="unit">
        </div>
        <div class="form-group col-md-2">
          <label for="">Opening Stock</label>
          <input type="number" class="form-control form-control-sm" required id="opening_stock">
        </div>
        <div class="form-group col-md-12">
          <div class="table-title">
            <div class="text-left">
                <button type="button" class="btn btn-info add-item"><i class="fa fa-plus"></i> Add New</button>
            </div>
          </div>
        </div>
      </div>
      <br>
</li>
<li class="list-group-item">
  <div class="table table-responsive">
    <table class="table table-bordered" id="add-item-table">
          <thead>
              <tr>
                  <th width="120px">S No.</th>
                  <th width="250px">Item Description</th>
                  <th width="150px" >Unit</th>
                  <th width="150px">Opening Stock</th>
                  <th width="100px">Type</th>
                  <th width="100px">Size</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary">Submit <small>(Items)</small></button>
    </div>
  </li>
  </form>
</ul>
</div>


{% endblock body %}
